.gemini/
gha-creds-*.json
__pycache__/

__pycache__/
*.pyc
*.pyo
*.pyd

# virtual env
.venv/
venv/

# data / outputs
*.csv
*.feather
*.ipynb


# 先忽略 tex 目录全部
tex/*

# 再把需要的放出来
!tex/*.tex
!tex/*.bib
!tex/*.pdf


*.parquet

run2.root